@model Unidad3.Web.Models.New

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
<div class="form-horizontal">
    <h4>Nuevo</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(model => model.DateTime, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.DateTime, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.DateTime, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <label class="col-md-10">Elige la fecha</label>
        <div class="col-md-12">
            <input type="date" name="DateTime" value="" class="form-control" />
        </div>
    </div>

    <div class="form-group">
        <label class="col-md-6">Desarrolladores</label>
        <select name="DeveloperId" id="" class="form-control">
            <option value="">Elige un desarrolador</option>
            @foreach(var item in ViewBag.User){
                <option value="@item.Id">@item.Name</option>
            }
        </select>
    </div>

    <div>
        <div class="form-group">
            <label class="col-md-10">Imagen</label>
            <div class="col-md-12">
                <input name="file" type="file" value="" class="form-control form-control-file" />
            </div>
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Create" class="btn btn-warning" />
        </div>
    </div>
</div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
