@model Unidad3.Web.Models.New

@{
    ViewBag.Title = "Details";
}

<div class="row justify-content-center">
    <div class="col-md-7">
        <div class="card">
            @if (Model.Photo == null)
            {
                <img src="~/Content/img/cyberpunk.jpeg" alt="" class="img-fluid rounded" />
            }
            <img src="~/Update/Novedad/@Model.Photo" alt="" class="img-fluid rounded" />
            <div class="card-body">
                <table class="table table-borderless">
                    <tr>
                        <td>Genero</td>
                        <td>@Model.Genere.Nombre</td>
                    </tr>
                    <tr>
                        <td>Desarrollador</td>
                        <td>@Model.Desarrollador.Name</td>
                    </tr>
                    <tr>
                        <td>Fecha</td>
                        <td>Dia @Model.DateTime.ToShortDateString()</td>
                    </tr>
                </table>
                <div class="row justify-content-center">
                    @if (User.IsInRole("Administrator"))
                    {
                        <a href="@Url.Action("Edit","News", new { id=Model.Id})" class="btn btn-sm btn-danger">Actualizar</a>
                        <a href="@Url.Action("Index","News", new { id=Model.Id})" class="btn btn-sm btn-primary ml-2">Regresar</a>
                    }
                    else
                    {

                        <a href="@Url.Action("Index","Home", new { id=Model.Id})" class="btn btn-sm btn-primary">Regresar</a>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
