@model IEnumerable<Unidad3.Web.Models.New>

@{
    ViewBag.Title = "Index";
}

@if (User.IsInRole("Administrator"))
{
    <p>
        <a href="@Url.Action("Create","News")" class="btn btn-sm btn-warning">
            <span class="text-black-50"><i class="fas fa-plus"></i></span>
            <span class="text">Nuevo</span>
        </a>
    </p>
}

<div class="row justify-content-center">
    <div class="col-md-10">
        <div class="card">
            <div class="card-header bg-warning py-2">
                <h5 class="m-0 text-center text-black-50">Lista de Juegos</h5>
            </div>
            <div class="card-body">
                <table class="table table-sm table-hover" id="MyNews">
                    <thead class="table-warning text-black">
                        <tr>
                            <th>Juego</th>
                            <th>Fecha</th>
                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>@item.Desarrollador.Name</td>
                                <td>@item.DateTime.ToShortDateString()</td>
                                <td>
                                    <a href="@Url.Action("Edit", "News", new { id=item.Id })" class="btn btn-sm btn-warning">
                                        <i class="fas fa-pencil-alt"></i>
                                    </a>
                                    <a href="@Url.Action("Details", "News", new { id=item.Id })" class="btn btn-sm btn-info">
                                        <i class="fas fa-eye-alt"></i>
                                    </a>
                                    <a href="@Url.Action("Delete", "News", new { id=item.Id })" class="btn btn-sm btn-danger">
                                        <i class="fas fa-trash-alt"></i>
                                    </a>
                                </td>
                            </tr>
                        }

                    </tbody>

                </table>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script>
        $(document).ready(function () {
            $('#MyNews').DataTable();
        });
    </script>
}