@model Unidad3.Web.Models.ApplicationUser
@{
    ViewBag.Title = "Perfil";
}


<div class="row justify-content-center mt-3">
    <div class="col-md-10">
        <div class="card">
            <div class="card-header">
                <h4 class="m-0 text-center bg-primary text-white">
                    Perfil de @User.Identity.Name
                </h4>
            </div>
            <div class="card-body">
                <div class="row justify-content-between">
                    <div class="col-md-6">
                        <div class="card">
                            <img src="~/Content/img/farcry3.jpg" alt="Picture" class="rounded img-fluid"/>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="card">
                            <div class="card-header py-2 bg-primary">
                                <p class="text-center m-0 text-white">Informacion Principal</p> <button class="btn btn-secondary float-right">Editar</button>
                            </div>
                            <div class="card-body">
                                <table class="table table-borderless table-sm table-striped">
                                    <tr>
                                        <td>Nombre</td>
                                        <td>@Model.Name</td>
                                    </tr>
                                    <tr>
                                        <td>Email</td>
                                        <td>@Model.Email</td>
                                    </tr>
                                    <tr>
                                        <td>Usuario</td>
                                        <td>@Model.UserName</td>
                                    </tr>
                                    <tr>
                                        <td>Telefono</td>
                                        <td>@Model.PhoneNumber</td>
                                    </tr>
                                </table>
                                <hr />
                                <table class="table table-sm table-borderless">
                                    <tr>
                                        <td>Descripcion</td>
                                    </tr>
                                    <tr>
                                        <td>@Model.Description</td>
                                    </tr>
                                    <tr>
                                        <td>Pasatiempos</td>
                                    </tr>
                                    <tr>
                                        <td>@Model.Hobbies</td>
                                    </tr>
                                    <tr>
                                        <td>Videos</td>
                                    </tr>
                                    <tr>
                                        <td>@Model.Videos</td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>